
/*/////////////////////////////screen between 200px-767px////////////////////////*/
@media screen and (min-width: 200px) and (max-width: 767px) {
    body {
      background-color: grey;
      text-align: justify;
    }

    header {
      height:50px;
      background-image: url("../media/logo_git.jpeg");
      background-repeat:no-repeat;
      margin:auto;
      font-size:1em;
      text-align: center;
      color:black;
      font-family:verdana;
      font-weight:bold;
      border-bottom-width : 2px;
      border-bottom-style : solid;
      border-bottom-color:black;
      border-radius: 5px;
    }

    h1 {
    font-size:1.5em;
    }

    div {
      width:100%;
      float:left;
    }

    table  {
      font-family:verdana;
      font-size:0.8em;
      border:none;
      color:white;
      width:100%
    }

    code {
        background-color: #B22020;
        border-radius: 15px;
        color: white;
        padding: 5px 10px;
        display: inline-block;
        font-family: Arial;
        margin:10px 0;
    }

    .tleft {
      text-align: left;
      padding-left: 10px;
    }

    td, th {
      border:solid 1px #C0C0C0;
      text-align: center;
    }

    th {
      font-size: 18px;
    }

    aside {
      display: none;
      width:30%;
      float:left;
      min-width:380px;
    }

}


/*/////////////////////////////screen between 768px-1023px////////////////////////*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
      background-color: grey;
    }

    header {
      height:50px;
      background-image: url("../media/logo_git.jpeg");
      background-repeat:repeat-x;
      margin:auto;
      font-size:1em;
      text-align: center;
     color:black;
      font-family:verdana;
      font-weight:bold;
      border-bottom-width : 2px;
      border-bottom-style : solid;
      border-bottom-color:black;
      border-radius: 5px;
    }

    h1 {
    font-size:1.5em;
    }

    div {
      width:100%;
      float:left;
    }

    table  {
      font-family:verdana;
      font-size:0.8em;
      border:none;
      color:white;
      width:100%
    }

    code {
        background-color: #B22020;
        border-radius: 15px;
        color: white;
        padding: 5px 10px;
        display: inline-block;
        font-family: Arial;
        margin:10px 0;
    }

    .tleft {
      text-align: left;
      padding-left: 10px;
    }

    td, th {
      border:solid 1px #C0C0C0;
      text-align: center;
    }

    th {
      font-size: 18px;
    }

    aside {
      display: none;
      width:30%;
      float:left;
      min-width:380px;
    }
}


/*/////////////////////////////screen between 1024px-1500px////////////////////////*/
@media screen and (min-width: 1024px) and (max-width: 1500px) {
    body {
      background-color: grey;
    }

    header {
      height:90px;
      background-image: url("../media/logo_git.jpeg");
      background-repeat:repeat-x;
      margin-bottom:20px;
      margin-left:300px;
      margin-right:300px;
      font-size:3em;
      text-align: center;
      line-height:90px;
      color:black;
      font-family:verdana;
      font-weight:bold;
      border-bottom-width : 2px;
      border-bottom-style : solid;
      border-bottom-color:black;
      border-radius: 1.5em;
    }

    h1 {
    font-size:1.5em;
    }

    div {
      width:70%;
      float:left;
    }

    table  {
      font-family:verdana;
      font-size:16px;
      border:none;
      color:white;
      width:100%
    }

    code {
        background-color: #B22020;
        border-radius: 15px;
        color: white;
        padding: 5px 10px;
        display: inline-block;
        font-family: Arial;
        margin:10px 0;
    }

    .tleft {
      text-align: left;
      padding-left: 10px;
    }

    td, th {
      border:solid 1px #C0C0C0;
      text-align: center;
    }

    th {
      font-size: 24px;
    }

    aside {
      width:30%;
      float:left;
      min-width:380px;
    }

    .container-aside {
      border:solid 1px #C0C0C0;
    }

    h2 {
      text-align: center;
      color:white;
    }

    .left,.right {
      width:49%;
      display:inline-block;
      margin:0;
      padding:0;
      background-color:#B22020;
    }

    h3 {
      color:white;
      text-align: center;
    }

    ul {
      list-style: none;
      /*little point of bullets doesn't appear*/
      font-size: 12px;
      padding: 12px;
      padding-right:12px;
    }

    .left li,.right li {
      height:30px;
    }

    .clear {
      clear:both;
    }
    /*to stop the float*/

}
